.main{
    text-align: center;
    width: 50%;
    margin: auto;
    
}

.nav{
    height: 80px;
    background-color: yellow;
    padding: 20px;
    text-align: center;
}
img{
    float: left;
    margin-left: 60px;
    margin-right: -120px;
    
}
.mirimg{
    float: right;
    margin-right: 60px;
    margin-left: -120px;
}
textarea{
    margin:  auto;
    height: 150px;
    padding: 20px;
    margin-top: 30px;
    width: 90%;
    border: 2px solid black;
}

button{
    padding: 10px;
    width: 250px;
    margin-top: 20px;
    background-color: yellow;
    font-weight: 600;
}
button:hover{
    background-color: red;
    color: white;
}

#output{
    margin: auto;
    background-color: white;
    height: 150px;
    width: 90%;
    border: 2px solid red;
    margin-top: 20px;
    padding: 20px;
    
}















